*{
  margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container{
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

h1{
  text-align: center;
margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

form input,form button{
  padding: 10px;
  font-size: 16px;
}

form button{
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover{
  background-color: #0056b3;
}

.balance{
  text-align: center;
  margin-bottom: 20px;
}

#expense-list{
  list-style: none;
}
#expense-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 5px;
}

 #pagination {
 margin-top: 10px; }

#pagination button { 
margin: 0 30px; }