body {
  font-family: Arial, Helvetica, sans-serif ;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.converter {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
  width: 300px;
}

h2 {
  margin-bottom: 20px;
  color: #000;
}

.currency-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.currency-box select {
  width: 70%;
  padding: 8px;
  font-size: 14px;
}

.currency-box img {
  width: 40px;
  height: 25px;
  border: 1px solid #ccc;
}

#amount {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  
}

#convert {
  padding: 11px 24px;
  background-color: yellow;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#convert:hover {
  background-color: black;
}

#result {
  margin-top: 15px;
  color: #222;
  font-weight: bold;
}
